.dark .container-footer{
    background-color: #171923;
}

.light .container-footer{
    background-color: #edf2f7;
}

.message-footer {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.portfolio-name {
    font-size: 13px;
    padding-bottom: 10px;
}